* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #202124;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-size-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.own-speed-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.units-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 65%;
}

#file-size-value {
  background-position-x: 95%;
  border-radius: 0 0 2px 2px;
  color: #bdc1c6;
  width: 60%;
  background: #303134;
  border: 1px solid #3c4043;
  font-size: 13px;
  line-height: 20px;
  padding: 5px 16px 5px 5px;
  vertical-align: middle;
  margin-right: 20px;
}

#own-speed {
  background-position-x: 95%;
  border-radius: 0 0 2px 2px;
  color: #bdc1c6;
  width: 30%;
  background: #303134;
  border: 1px solid #3c4043;
  font-size: 13px;
  line-height: 20px;
  padding: 5px 16px 5px 5px;
  vertical-align: middle;
  margin-right: 20px;
}

input[type='radio'] {
  margin-right: 4px;
}

span {
  margin-right: 10px;
}

.container {
  width: 600px;
  border-radius: 8px;
  border: 1px solid #3c4043;
  color: #bdc1c6;
  box-shadow: none;
  padding: 30px 25px 40px;
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: 0.3rem;
  text-align: center;
  min-width: 150px;
}

@media only screen and (max-width: 650px) {
  .container {
    width: 90%;
    padding: 30px 25px 40px;
  }

  .file-size-controls,
  .own-speed-controls {
    flex-direction: column;
  }

  .units-options {
    width: 80%;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  
  #file-size-value {
    width: 80%;
  }
  
  #own-speed {
    width: 80%;
  }

  td,
  th {
    padding: 0.2rem;
    min-width: auto;
  }
}
